/*
div:first-child{
    background-color: red;
}

div:nth-child(2){
    background-color: green;
}

div:nth-child(3){
    background-color: blue;
}

div:nth-child(4){
    background-color: yellow;
}

div:nth-child(5){
    background-color: peachpuff;
}

div:nth-child(6){
    background-color: hotpink;
}
*/

div:first-child{

    border: 2px solid white;
    width: 50px;
    height: 20px;
    background-color: red;
}
div:nth-child(2){
    border: 2px solid white;
    width: 50px;
    height: 20px;
    background-color: green;
}
div:nth-child(3){
    border: 2px solid white;
    width: 50px;
    height: 20px;
    background-color: blue;
}

div:nth-child(4){
    border: 2px solid white;
    width: 50px;
    height: 20px;
    background-color: yellow;

}
div:nth-child(5){
    border: 2px solid white;
    width: 50px;
    height: 20px;
    background-color: pink;
}
div:nth-child(6){
    border: 2px solid white;
    width: 50px;
    height: 20px;
    background-color: hotpink;
}